<div class="row">
    <div class="col-xs-12 panel panel-info">
        <div class="panel-heading">
            <p>Contact Name</p>
            Image
            <button class="btn btn-primary pull-right">Edit</button>
            <button class="btn btn-danger pull-right">Delete</button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <p>Email: </p>
                    <p>Phone: </p>
                </div>
            </div>
        </div>
    </div>
</div>